{% extends 'base.html' %}

<h1>About</h1>

{% block content %}

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus non dolorum nemo. Est pariatur nobis excepturi cum architecto provident libero! Praesentium aliquid accusamus inventore esse quia dolorem nihil quasi quo numquam illo quaerat tempora, recusandae consequatur quidem sunt minus odit vero, dolorum corrupti ex facilis tempore totam! Fuga corrupti non enim id incidunt ut perferendis consectetur, reiciendis, quae accusamus reprehenderit, natus corporis ipsum doloremque quasi unde! At dolore hic facere itaque quas molestias ducimus explicabo architecto alias totam iusto earum corporis perspiciatis, consequuntur obcaecati numquam fuga nostrum. Nisi sapiente voluptatum, expedita perferendis similique, tenetur architecto eligendi eveniet, dolorum modi velit.</p>

<footer>Creado por {{ createdby }}</footer>

{% endblock %}