{% extends 'base.html' %}

{% load static %}

{% block content %}

<img src="{% static 'office-594132_1280.jpg' %}" alt="" width="200px">

<h1>{{title}}</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, quia aliquid eligendi inventore beatae facere animi atque eos esse non magnam distinctio iusto ad expedita enim pariatur tenetur sint dolor accusantium consequatur molestiae? Cum pariatur ex consequatur saepe facere deserunt minima. Debitis aliquam deserunt eius cumque nulla aliquid reprehenderit error.</p>


{% endblock %}
